<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teja</title>
</head>
<body>
{%block content %}

{% endblock content %}
<h1><b>About</b></h1>
<pre>
  Dr. Uday Gupta is a medical student who has just passed his final M.B.B.S exam.
  He lives in Bhopal with his widowed mother Shobha,
  an aspiring chef who hopes to make it big on social media through her cookery channels,
  and his best friend, Chaddi, who is preparing for the civil services examination.
  Uday wants to pursue his post-graduation in orthopaedics, inspired by his distant cousin Dr.
  Ashok Gupta. His rank in the competitive entrance test, however,
  is insufficient for an orthopaedics course in Bhopal. Unwilling to leave his mother behind and move
  to another city for his studies, Uday reluctantly opts for the best available option in Bhopal—gynaecology.
  Ashok also advises Uday to take this opportunity; Uday can simultaneously continue to study for next year's
  entrance test. Uday is introduced to Kavya Sharma, a high school student who also aspires to become a
  doctor and whom Ashok is infatuated with.</pre>
</body>
</html>