<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meditation</title></head>
<body>
<style>
<!increasing size------------->
h1 {
  font-size: 60px;
}

pre {
  font-size: 20px;
}
</style>
 <h1>   <b>How meditation helps us?</b>
 </h1> <pre><i>Meditation can give you a sense of calm, peace and balance that can benefit both your
     emotional well-being and your overall health. You can also use it to relax and cope with stress
     by refocusing your attention on something calming. Meditation can help you learn to stay centered
     and keep inner peace.
   Also every mudra in meditation helps us to ensure our health,physical and mental health.
     No need to go to doctor for every reason if you know which mudrra is used.</i>
 </pre>
      <img src="../static/images/m1.jpeg" class="d-block w-100" alt="..."><br>
  <button type="button" class="btn btn-primary"><b>Book Now</b></button>

</body>
</html>